.jumbotron{
    background-color: rgb(188, 161, 204);
    opacity: 0.8;
}

.col-md-4{
    padding: 66px;
   
}

    
#heading {text-align: center; color:#e5c8f3}

.whole{
    background-image: url('src/images/imgf3.jpg');
    background-attachment: fixed;
    background-size: cover;

    
}