<div class="full">
<h1 id="heading">Your Everyday Quotes </h1>
<app-quotes-form class="form" (addQuote)="addNewQuote($event)"></app-quotes-form>



  <div class="quotesholder">
    <div class="" *ngFor="let quote of Quotes;let i = 'index'">
        <div class="jumbotron">
          
            <div class="">
              <h4 id="{{i}}">{{ quote.quote }}</h4>
            </div>
        
        <app-quotes-details *ngIf="quote.showQuoteDetails;" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quotes-details>
    <br><br>
    <button class="btn btn-primary" (click)='toogleDetails(i)'>More</button>
        </div>
     
   </div>
  </div>
</div> 

