.jumbotron{
    background-color: rgb(149, 128, 161);
    opacity: 0.7;
}
.full{
    background-image: url('src/images/img.jpg');
    background-size: cover;
    background-attachment: fixed;
    }
.form {
    float:left;
    width: 30%;
}
.quotesholder  {
    float:left;
    width: 70%;
}
h1{text-align: center;}